/* Larger screens */
.navigation {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
  background: none;
}

#menu {
  display: none;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}